[Unit]
Description=SSH key agent
Documentation=man:ssh-agent(1)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPost=/bin/sh -c 'systemctl --user set-environment SSH_AUTH_SOCK=${SSH_AUTH_SOCK}'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
