abbr - "cd -"
abbr ca "chezmoi apply -v"
abbr cm "chezmoi -k"
abbr d "docker"
abbr da "direnv allow"
abbr dc "docker-compose"

{{- $eza_params := list "--git" "--icons" "--classify" "--group-directories-first" "--time-style=long-iso" "--group" "--color-scale"  | join " " }}

{{- if ne .chezmoi.os "windows" }}
    alias ls='eza {{ $eza_params }}'
    abbr l 'eza --git-ignore {{ $eza_params }}'
    abbr ll 'eza --header --long {{ $eza_params }}'
    abbr lla 'eza --all --header --long {{ $eza_params }}'
    abbr llm 'eza --all --header --long --sort=modified {{ $eza_params }}'
    abbr la 'eza -lbhHigUmuSa'
    abbr lx 'eza -lbhHigUmuSa@'
    abbr lt 'eza --tree'
    abbr tree 'eza --tree'
{{- end }}

{{- if eq .chezmoi.os "windows" }}
    alias ls='ls -h --color=auto'
    abbr l 'ls -l'
    abbr la 'ls -a'
    abbr ll 'ls -la'
{{- end }}

alias cat='bat --paging=never'
alias less='bat'
alias more='bat'

abbr tf "terraform"
