alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

abbr -a - "cd -"
abbr -a ca "chezmoi apply -v"
abbr -a cm "chezmoi -k"
abbr -a da "direnv allow"

alias sshp='ssh -o PubkeyAuthentication=no '

# Docker
abbr -a d 'docker'
abbr -a dc 'docker compose'
abbr -a dcb 'docker-compose build'
abbr -a dce 'docker-compose exec'
abbr -a dcps 'docker-compose ps'
abbr -a dcrestart 'docker-compose restart'
abbr -a dcrm 'docker-compose rm'
abbr -a dcr 'docker-compose run'
abbr -a dcstop 'docker-compose stop'
abbr -a dcup 'docker-compose up'
abbr -a dcupd 'docker-compose up -d'
abbr -a dcdn 'docker-compose down'
abbr -a dcl 'docker-compose logs'
abbr -a dclf 'docker-compose logs -f'
abbr -a dcpull 'docker-compose pull'
abbr -a dcstart 'docker-compose start'
abbr -a dck 'docker-compose kill'

{{- $eza_params := list "--git" "--icons" "--classify" "--group-directories-first" "--time-style=long-iso" "--group" "--color-scale"  | join " " }}

{{- if ne .chezmoi.os "windows" }}
    alias ls='eza {{ $eza_params }}'
    abbr -a l 'eza --git-ignore {{ $eza_params }}'
    abbr -a ll 'eza --header --long {{ $eza_params }}'
    abbr -a lla 'eza --all --header --long {{ $eza_params }}'
    abbr -a llm 'eza --all --header --long --sort=modified {{ $eza_params }}'
    abbr -a la 'eza -lbhHigUmuSa'
    abbr -a lx 'eza -lbhHigUmuSa@'
    abbr -a lt 'eza --tree'
    abbr -a tree 'eza --tree'

    abbr -a reboot-to-bios 'systemctl reboot --firmware-setup'
{{- end }}

{{- if eq .chezmoi.os "windows" }}
    alias ls='ls -h --color=auto'
    abbr -a l 'ls -l'
    abbr -a la 'ls -a'
    abbr -a ll 'ls -la'
{{- end }}

alias cat='bat --paging=never'
alias less='bat'
alias more='bat'

abbr -a tf "terraform"
