# chezmoi:template:missing-key=invalid
---
sourceDir: "{{ .chezmoi.sourceDir }}"
verbose: true
# https://github.com/twpayne/chezmoi/issues/3257
pager: ""
follow: true
format: yaml
color: auto
encryption: age
age:
  identity: {{ .chezmoi.homeDir }}/.config/chezmoi/key.txt
  recipient: age17z6sdx7ceu7xu4llsdt4gakyuzkhvqe9vr226jjvg8rr0j57ta3qd5ry67
template:
  options:
    - missingkey=zero
git:
  autoAdd: true
  autoCommit: true
  autoPush: true

# The following variables are only available within this YAML template file
{{/* boolean feature tags */}}

{{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
{{- $interactive := and stdinIsATTY (not $chezmoiForce) -}}

{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
# {{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $headless := or (env "SSH_CLIENT" | not | not) (not (or (env "DISPLAY") (env "WAYLAND_DISPLAY"))) -}}
{{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") | not | not -}}
{{- $minimum := or $devcontainer -}}

{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is work-related */}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- $ephemeralEnvOrUsername := or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode" "devcontainer") -}}
{{- $ephemeralCgroup := and (stat "/proc/1/cgroup") (output "cat" "/proc/1/cgroup" | regexMatch "(docker|lxc)") -}}
{{- if or $ephemeralEnvOrUsername $ephemeralCgroup -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{-   writeToStdout "Chezmoi is running in a container.\n" -}}
{{- end -}}

{{/* detect personal vs work macOS machines */}}
{{- if (eq .chezmoi.os "darwin") -}}
{{-   if (contains "MDM enrollment: Yes" (output "profiles" "status" "-type" "enrollment")) -}}
{{-     $personal = false -}}
{{-     $work = true -}}
{{-     writeToStdout "Chezmoi is running on a work macOS environment.\n" -}}
{{-   else }}
{{-     $personal = true -}}
{{-     $work = false -}}
{{-     writeToStdout "Chezmoi is running on a personal macOS environment.\n" -}}
{{-   end -}}
{{- end -}}

{{ if and (not $ephemeral) (eq $osID "linux-ubuntu") }}
{{   $docker := true }}
{{ end }}

{{/* detect personal vs work Linux machines */}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (contains "akamai" .chezmoi.fqdnHostname) -}}
{{-     $personal = false -}}
{{-     $work = true -}}
{{-     writeToStdout "Chezmoi is running on a work Linux environment.\n" -}}
{{-   else }}
{{-     $personal = true -}}
{{-     $work = false -}}
{{-     writeToStdout "Chezmoi is running on a personal Linux environment.\n" -}}
{{-   end -}}
{{- end -}}

# Here we "export" the variables, so we can access them outside this file
data:
  email: "rishid@gmail.com"
  editor: "code --wait"

  docker: {{ $docker }}
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}

  osid: {{ $osID | quote }}
  {{- if eq .chezmoi.os "linux" }}
  uname:
    machine: "{{ output "uname" "-m" | trim }}"
{{- end }}

  personal: {{ $personal }}
  work: {{ $work }}
