{{ if eq .chezmoi.os "linux" }}

.bash_login
.bash_logout
.bash_profile
.histfile
.inputrc
.lesshst
.profile
.python_history
.wgetrc
.wget-hsts
.zlogin
.zlogout
.zprofile
.zsh_history
.zsh_sessions
.zshrc.zwc

{{ end }}
