

[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"

[".local/bin/age"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ .versions.age }}/age-v{{ .versions.age }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    executable = true
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ .versions.age }}/age-v{{ .versions.age }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    executable = true
    path = "age/age-keygen"

[".local/bin/bat"]
    type = "archive-file"
    url = "https://github.com/sharkdp/bat/releases/download/v{{ .versions.bat }}/bat-v{{ .versions.bat }}-{{ .uname.machine }}-unknown-linux-musl.tar.gz"
    executable = true
    stripComponents = 1
    path = "bat"

{{- if and (eq .chezmoi.os "linux") (not .ephemeral) }}
[".local/bin/bw"]
    type = "archive-file"
    url = "https://vault.bitwarden.com/download/?app=cli&platform=linux"
    executable = true
    refreshPeriod = "168h"
    path = "bw"
{{- end }}

[".local/bin/cloc"]
    type = "file"
    url = "https://github.com/AlDanial/cloc/releases/download/v{{ .versions.cloc }}/cloc-{{ .versions.cloc }}.pl"
    executable = true

[".local/bin/direnv"]
    type = "file"
    url = "https://github.com/direnv/direnv/releases/download/v{{ .versions.direnv }}/direnv.linux-{{ .chezmoi.arch }}"
    executable = true

[".local/bin/dnspyre"]
    type = "archive-file"
    url = "https://github.com/Tantalor93/dnspyre/releases/download/v{{ .versions.dnspyre }}/dnspyre_linux_{{ .chezmoi.arch }}.tar.gz"
    executable = true
    path = "dnspyre"

[".local/bin/eza"]
    type = "archive-file"
    url = "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz"
    path = "./eza"
    executable = true

[".local/bin/fd"]
    type = "archive-file"
    url = "https://github.com/sharkdp/fd/releases/download/v{{ .versions.fd }}/fd-v{{ .versions.fd }}-{{ .uname.machine }}-unknown-linux-musl.tar.gz"
    executable = true
    stripComponents = 1
    path = "fd"

[".local/bin/fzf"]
    type = "archive-file"
    url = 'https://github.com/junegunn/fzf/releases/download/v{{ .versions.fzf }}/fzf-{{ .versions.fzf }}-{{ .chezmoi.os }}_{{ eq .chezmoi.arch "arm" | ternary (.uname.machine | trimSuffix "tel") .chezmoi.arch }}.tar.gz'
    executable = true
    path = "fzf"

[".local/bin/gdu"]
    type = "archive-file"
    url = "https://github.com/dundee/gdu/releases/download/v{{ .versions.gdu }}/gdu_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tgz"
    executable = true
    path = "gdu_{{ .chezmoi.os }}_{{ .chezmoi.arch }}"

[".local/bin/gh"]
	type = "archive-file"
    url = "https://github.com/cli/cli/releases/download/v{{ .versions.github_cli }}/gh_{{ .versions.github_cli }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
    executable = true
    refreshPeriod = "720h"
    stripComponents = 1
    path = "bin/gh"

[".local/share/go"]
    type = "archive"
    url = "https://go.dev/dl/go{{ .versions.go }}.{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    exact = true
    stripComponents = 1

[".local/bin/helm"]
    type = "archive-file"
    url = 'https://get.helm.sh/helm-v{{ .versions.helm }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz'
    executable = true
    path = "{{ .chezmoi.os }}-{{ .chezmoi.arch }}/helm"

[".local/bin/hexyl"]
    type = "archive-file"
    url = "https://github.com/sharkdp/hexyl/releases/download/v{{ .versions.hexyl }}/hexyl-v{{ .versions.hexyl }}-{{ .uname.machine }}-unknown-linux-musl.tar.gz"
    executable = true
    stripComponents = 1
    path = "hexyl"

[".local/bin/hyperfine"]
    type = "archive-file"
    url = "https://github.com/sharkdp/hyperfine/releases/download/v{{ .versions.hyperfine }}/hyperfine-v{{ .versions.hyperfine }}-{{ .uname.machine }}-unknown-linux-musl.tar.gz"
    executable = true
    stripComponents = 1
    path = "hyperfine"

[".local/bin/jq"]
    type = "file"
    url = "https://github.com/jqlang/jq/releases/latest/download/jq-linux-amd64"
    executable = true
    refreshPeriod = "720h"

[".local/bin/kubectl"]
    type = "file"
    url = "https://dl.k8s.io/release/v{{ .versions.kubectl }}/bin/linux/{{ .chezmoi.arch }}/kubectl"
    executable = true

[".local/bin/numbat"]
    type = "archive-file"
    url = "https://github.com/sharkdp/numbat/releases/download/v{{ .versions.numbat }}/numbat-v{{ .versions.numbat }}-{{ .uname.machine }}-unknown-linux-musl.tar.gz"
    executable = true
    stripComponents = 1
    path = "numbat"

[".local/bin/procs"]
    type = "archive-file"
    url = "https://github.com/dalance/procs/releases/download/v{{ .versions.procs }}/procs-v{{ .versions.procs }}-{{ .uname.machine }}-{{ .chezmoi.os }}.zip"
    executable = true
    path = "procs"

[".local/bin/rg"]
    type = "archive-file"
    url = "https://github.com/BurntSushi/ripgrep/releases/download/{{ .versions.ripgrep }}/ripgrep-{{ .versions.ripgrep }}-{{ .uname.machine }}-unknown-{{ .chezmoi.os }}-musl.tar.gz"
    executable = true
    stripComponents = 1
    path = "rg"

[".config/fish/completions/rg.fish"]
    type = "archive-file"
    url = "https://github.com/BurntSushi/ripgrep/releases/download/{{ .versions.ripgrep }}/ripgrep-{{ .versions.ripgrep }}-{{ .uname.machine }}-unknown-{{ .chezmoi.os }}-musl.tar.gz"
    stripComponents = 1
    path = "complete/rg.fish"

[".local/bin/yq"]
    type = "file"
    url = "https://github.com/mikefarah/yq/releases/download/v{{ .versions.yq }}/yq_linux_amd64"
    executable = true
