---
sourceDir: "{{ .chezmoi.sourceDir }}"
diff:
  format: git
verbose: true
follow: true
format: yaml
color: true
template:
  options:
    - missingkey=zero
git:
  autoAdd: true
  autoCommit: true
  autoPush: true

# The following variables are only available within this TOML template file
{{/* boolean feature tags */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is work-related */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Dhupar’s MacBook Air" -}}
{{-     $hostname = "dhupars-mba" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "bos-lhv9i4" -}}
{{-     $docker = true -}}
{{-     $work = true -}}
{{-   else if eq $hostname "vault" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "dhupars-mba" -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     if not $ephemeral -}}
{{-       $docker = promptBoolOnce . "docker" "docker" -}}
{{-     end -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

# Here we "export" the variables, so we can access them outside this file
data:
  data: {{ $docker }}
  ephemeral: {{ $ephemeral }}
  email: "rishid@gmail.com"
  headless: {{ $headless }}
  hostname: {{ $hostname | quote }}
  personal: {{ $personal }}
  osid: {{ $osID | quote }}
  work: {{ $work }}
