[user]
    name = {{ .full_name }}
    email = rdhupar@akamai.com

[url "git@github-akamai:AkamaiAPG/"]
    insteadOf = git@github.com:AkamaiAPG/

[url "git@bits.linode.com"]
    insteadOf = bits
    insteadOf = linode
