{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
#!/usr/bin/env bash

set -euo pipefail

#
# Debian
#

sudo DEBIAN_FRONTEND=noninteractive apt-get -o DPkg::Lock::Timeout=60 -qq update

# sudo DEBIAN_FRONTEND=noninteractive apt-get -o DPkg::Lock::Timeout=60 remove {{ .apt.remove | join " " }}

sudo DEBIAN_FRONTEND=noninteractive apt-get -o DPkg::Lock::Timeout=60 -y upgrade
sudo DEBIAN_FRONTEND=noninteractive apt-get -o DPkg::Lock::Timeout=60 -q install {{ .apt.install | join " " }}

{{ end }}
