{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/usr/bin/env bash

set -euo pipefail

sudo apt-add-repository -y ppa:fish-shell/release-3
sudo apt-get -o DPkg::Lock::Timeout=60 -qq update
sudo apt-get -o DPkg::Lock::Timeout=60 -y install fish

{{ end -}}
