{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env sh

set -euo pipefail

AGE="age --decrypt"
CHEZMOISECRET="${HOME}/.config/chezmoi/key.txt"
ENCRYPTED_FILE="{{ .chezmoi.sourceDir }}/../key.txt.age"

# Try external age command if available. Fallback to builtin otherwise
if ! command -v age >/dev/null 2>&1; then
    AGE="~/bin/chezmoi age decrypt --passphrase"
fi

# Decrypt if not already present
if [ ! -f "${CHEZMOISECRET}" ]; then
    echo "Decrypting age key..."
    mkdir -p "$(dirname "${CHEZMOISECRET}")"
    ${AGE} --output "${CHEZMOISECRET}" "${ENCRYPTED_FILE}"
    chmod 400 "${CHEZMOISECRET}"
fi
{{ end -}}
