
# Skip newer or system-specific unmatched options.
IgnoreUnknown AddKeysToAgent,UseKeychain

HashKnownHosts no

{{- if .work }}
Include ~/.ssh/akamai.cfg
Include ~/.ssh/linode.cfg
{{- end }}

Host linode
    Hostname 45.79.138.115
    User root
    IdentityFile ~/.ssh/id_ecdsa

# 12/6/23 Exclude github as cannot reuse socket since user, host and port are same except key
Host !github.com
    # Accelerate connections by reusing existing connections to the same host.
    ControlMaster auto
    ControlPath ~/.ssh/controlmasters/%r@%h:%p
    ControlPersist 60m

    # Allow storing passphrases in the macOS keychain.
    AddKeysToAgent yes
{{- if (eq .chezmoi.os "darwin") }}
    UseKeychain yes
{{- end }}

    # Keep the connection temporarily open by sending a data every few minutes.
    ServerAliveCountMax 6
    ServerAliveInterval 300
