#jinja2:lstrip_blocks: True
#!/bin/bash

# this is designed to be dropped in /etc/cron.daily/borg.cron

export BORG_PASSPHRASE='BsAiOW/DPTXyqGrfJgqJI9uuP6A='

REPOSITORY=/media/rdhupar/Backup/borg
TAG=${1:-daily}

# Backup except exclude directories
{{ borg_bin }} create -v -s --compression {{ borgbackup_compression }} --stats $REPOSITORY::$TAG'-{hostname}-{now:%Y-%m-%d}' \
  {% for dir in borgbackup_include %}{{ dir }} {% endfor %} \
  {% for dir in borgbackup_exclude %} --exclude '{{ dir }}'{% endfor %}

# Prune
#
# The 'daily-' prefix is very important to limit prune's operation to this
# machine's archives and not apply to other machine's archives also.
#
borg prune --verbose --list $REPOSITORY --prefix $TAG'-' \
    --keep-daily={{borgbackup_retention.daily}} --keep-weekly={{borgbackup_retention.weekly}} --keep-yearly={{borgbackup_retention.yearly}}
